.guru{
  border-radius: 20%;
}

.guru22{
  border-radius: 20%;
}

.header {
  background-color: rgb(128, 128, 216);
}

.apresiasi{
  font-family: cursive;
}

.hari{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer{
  background-color: rgb(128, 128, 216);
}